<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>渲染和复用</title>
</head>
<body>
    <div id="app">
        <div>复用</div>
        <template v-if="type==='text'">
            <label for="username">用户名</label>
            <input type="text" placeholder="请输入用户名" id="username">
        </template>
        <template v-else-if="type==='email'">
            <label for="email">邮箱</label>
            <input type="email" name="email" id="email" placeholder="请输入邮箱">
        </template>
        <button @click='changeType'>切换输入类型</button>
        <div>重新渲染</div>
        <template v-if="type==='text'">
                <label for="username">用户名</label>
                <input type="text" placeholder="请输入用户名" id="username" key='name-input'>
            </template>
            <template v-else-if="type==='email'">
                <label for="email">邮箱</label>
                <input type="email" name="email" id="email" placeholder="请输入邮箱" key='email-input'>
            </template>
            <button @click='changeType'>切换输入类型</button>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                type: 'text'
            },
            methods: {
                changeType: function () {
                    if (this.type === 'text'){
                        this.type = 'email'
                    } else {
                        this.type = 'text'
                    }
                }
            }
        })
    </script>
</body>
</html>