{
    "presets": ["env"],
    "plugins": [
        ["transform-runtime", {
            "helper": true,
            "polyfill": true,
            "regenerator": true,
            "module-name": "babel-runtime"
        }]
    ]
}